<div class="main-card mb-3 card" *ngIf="patientData">
    <div class="card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Patient Information</div>
    </div>
    <div class="table-responsive">
        <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
            <thead>
                <tr>
                    <th class="text-center">Patient ID</th>
                    <th class="text-center">Image</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Age</th>
                    <th class="text-center">Gender</th>
                    <th class="text-center">Address</th>
                    <th class="text-center">Contact</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center text-muted" style="width: 80px;">
                        {{patientData.patientId}}
                    </td>
                    <td class="text-center" style="width: 80px;">
                        &nbsp;
                    </td>
                    <td class="text-left">{{patientData.fullName}}</td>
                    <td class="text-center">{{patientData.age}}</td>
                    <td class="text-center">{{patientData.sex}}</td>
                    <td class="text-left">
                        <span class="pr-2 opacity-6">
                            <i class="fa fa-business-time"></i>
                        </span>
                        {{patientData.address}}
                    </td>
                    <td class="text-left">
                        <span class="pr-2 opacity-6">
                            <i class="fa fa-contact"></i>
                        </span>
                        {{patientData.phoneNo}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="mb-3 card" *ngIf="false">
    <div class="card-header-tab card-header">
        <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
            <i class="header-icon lnr-charts icon-gradient bg-happy-green"> </i>
            Vitals History
        </div>
    </div>
    <div class="no-gutters row">
        <div class="col-sm-12 col-md-6">
            <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg opacity-10 bg-warning"></div>
                    <i class="pe-7s-album text-white opacity-8"></i>
                </div>
                <div class="widget-chart-content">
                    <div class="widget-subheading">Cash Deposits</div>
                    <div class="widget-numbers">1,7M</div>
                    <div class="widget-description opacity-8 text-focus">
                        <div class="d-inline text-danger pr-1">
                            <fa-icon [icon]="faAngleDown"></fa-icon>
                            <span class="pl-1">54.1%</span>
                        </div>
                        less earnings
                    </div>
                </div>
            </div>
            <div class="divider m-0 d-md-none d-sm-block"></div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg opacity-9 bg-danger"></div>
                    <i class="pe-7s-portfolio text-white"></i>
                </div>
                <div class="widget-chart-content">
                    <div class="widget-subheading">Invested Dividents</div>
                    <div class="widget-numbers"><span>9M</span></div>
                    <div class="widget-description opacity-8 text-focus">
                        Grow Rate:
                        <span class="text-info pl-1">
                            <fa-icon [icon]="faAngleDown"></fa-icon>
                            <span class="pl-1">14.1%</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="divider m-0 d-md-none d-sm-block"></div>
        </div>

    </div>
    <div class="no-gutters row">
        <div class="col-sm-12">
            <div class="card no-shadow rm-border bg-transparent widget-chart text-left">
                <div class="icon-wrapper rounded-circle">
                    <div class="icon-wrapper-bg opacity-9 bg-success"></div>
                    <i class="pe-7s-light text-white"></i>
                </div>
                <div class="widget-chart-content">
                    <div class="widget-subheading">Capital Gains</div>
                    <div class="widget-numbers text-success"><span>$563</span></div>
                    <div class="widget-description text-focus">
                        Increased by
                        <span class="text-warning pl-1">
                            <fa-icon [icon]="faAngleUp"></fa-icon>
                            <span class="pl-1">7.35%</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center d-block p-3 card-footer">
        <button class="btn-pill btn-shadow btn-wide fsize-1 btn btn-primary btn-lg">
            <span class="mr-2 opacity-7">
                <i class="icon icon-anim-pulse ion-ios-analytics-outline"></i>
            </span>
            <span class="mr-1">View Complete Report</span>
        </button>
    </div>
</div>



<div class="row">
    <!-- <div class="col-sm-12 col-lg-6">
    </div> -->
    <div class="col-sm-12 col-lg-6" *ngFor="let item of chartOptionsDetails">
        <div class="mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal" *ngIf="item.barChartData.length == 1">
                    <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                    <!-- Medical History -->
                    {{item.barChartData[0].label}}
                </div>
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal" *ngIf="item.barChartData[0].label.indexOf('BP') > -1">
                    <i class="header-icon lnr-cloud-download icon-gradient bg-happy-itmeo"> </i>
                    <!-- Medical History -->
                    Blood Pressure
                </div>
            </div>
            <!-- <div class="btn-group" ngbDropdown placement="bottom-right">
                <button type="button" class="btn btn-info " ngbDropdownToggle>
                    Select Report
                </button>
                <div ngbDropdownMenu *ngIf="allVital">
                  <button class="dropdown-item" (click)="viewVitalChart(index)" *ngFor="let item of allVital; let index = index">{{item}}</button>
                </div>
            </div> -->
            <div class="p-0 card-body" *ngIf="allVital.length">
                <div class="p-1 slick-slider-sm mx-auto">
                    <div class="widget-chart widget-chart2 text-left p-0">
                        <div class="widget-chat-wrapper-outer" style="margin: 10px;">
                            <div class="widget-chart-content widget-chart-content-lg pb-0">
                                <div class="widget-chart-flex">
                                    <div class="widget-title opacity-5 text-muted text-uppercase"></div>
                                </div>
                            </div>
                            <div class="widget-chart-wrapper he-auto opacity-10 m-0" >
                                <div class="d-block" >

                                    <app-dynamic-chart [chartOptionsDetails]="item"></app-dynamic-chart>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

</div>