<app-page-title [heading]="heading" [subheading]="subheading" [icon]="icon"></app-page-title>
<div class="row">
    <div class="col-xs-12 col-md-8">
        <img src="assets/images/stethescope.jpg" alt="" srcset="" style="width: 100%;  border: 4px solid white;">
    </div>
    <div class="col-xs-0 col-md-4"></div>
</div>
<br />
<div class="row">
    <div class="col-xs-0 col-md-4"></div>
    <div class="col-xs-12 col-md-8">
        <img src="assets/images/info/bloodPressureInfo.png" alt="" style="width: 100%; border: 4px solid white;" />
    </div>
</div>
<app-news-feed></app-news-feed>