<div class="card m-3" *ngIf="admin">
    <h5 class="card-header">Upload Report:</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-xs-12 col-sm-8 mb-2">
                <input type="file" name="regForm" id="regForm" (change)="fileChange($event)"
                    placeholder="Select a file" />
            </div>
            <div class="col-xs-12 col-sm-4">
                <button class="btn btn-primary mr-1" (click)="submitFile()">
                    <i class="icon pe-7s-note" style="font-size: 18px;"></i> &nbsp; Add New Report
                </button>
            </div>
        </div>
    </div>
</div>

<div class="row m-3">
    <div class="col-sm-12 col-md-9">
        <div class="card-hover-shadow-2x mb-3 card">
            <div class="card-header-tab card-header">
                <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                    <i class="header-icon lnr-lighter icon-gradient bg-amy-crisp"> </i>
                    Patient History
                </div>
            </div>
            <div class="scroll-area-lg">
                <perfect-scrollbar [autoPropagation]="true">
                    <div class="p-4">
                        <div
                            class="vertical-time-simple vertical-without-time vertical-timeline vertical-timeline--animate vertical-timeline--one-column">
                            <div class="dot-danger vertical-timeline-element">
                                <div>
                                    <span class="vertical-timeline-element-icon bounce-in"></span>
                                    <div class="vertical-timeline-element-content bounce-in">
                                        <h4 class="timeline-title">All Hands Meeting</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="dot-warning vertical-timeline-element">
                                <div>
                                    <span class="vertical-timeline-element-icon bounce-in"></span>
                                    <div class="vertical-timeline-element-content bounce-in">
                                        <p>Yet another one, at <span class="text-success">15:00 PM</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="dot-success vertical-timeline-element">
                                <div>
                                    <span class="vertical-timeline-element-icon bounce-in"></span>
                                    <div class="vertical-timeline-element-content bounce-in">
                                        <h4 class="timeline-title">Build the production release
                                            <div class="badge badge-danger ml-2">NEW</div>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="dot-primary vertical-timeline-element">
                                <div>
                                    <span class="vertical-timeline-element-icon bounce-in"></span>
                                    <div class="vertical-timeline-element-content bounce-in">
                                        <h4 class="timeline-title">
                                            Something not important
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="dot-warning vertical-timeline-element">
                                <div>
                                    <span class="vertical-timeline-element-icon bounce-in"></span>
                                    <div class="vertical-timeline-element-content bounce-in">
                                        <p>Yet another one, at <span class="text-success">15:00 PM</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="dot-success vertical-timeline-element">
                                <div>
                                    <span class="vertical-timeline-element-icon bounce-in"></span>
                                    <div class="vertical-timeline-element-content bounce-in">
                                        <h4 class="timeline-title">Build the production release
                                            <div class="badge badge-danger ml-2">NEW</div>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="dot-info vertical-timeline-element">
                                <div>
                                    <span class="vertical-timeline-element-icon bounce-in"></span>
                                    <div class="vertical-timeline-element-content bounce-in">
                                        <h4 class="timeline-title">This dot has an info state</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="dot-dark vertical-timeline-element">
                                <div>
                                    <span class="vertical-timeline-element-icon bounce-in"></span>
                                    <div class="vertical-timeline-element-content bounce-in">
                                        <h4 class="timeline-title">This dot has a dark state</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="dot-danger vertical-timeline-element">
                                <div>
                                    <span class="vertical-timeline-element-icon bounce-in"></span>
                                    <div class="vertical-timeline-element-content bounce-in">
                                        <h4 class="timeline-title">All Hands Meeting</h4>
                                    </div>
                                </div>
                            </div>
                            <div class="dot-warning vertical-timeline-element">
                                <div>
                                    <span class="vertical-timeline-element-icon bounce-in"></span>
                                    <div class="vertical-timeline-element-content bounce-in">
                                        <p>Yet another one, at <span class="text-success">15:00 PM</span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="dot-success vertical-timeline-element">
                                <div>
                                    <span class="vertical-timeline-element-icon bounce-in"></span>
                                    <div class="vertical-timeline-element-content bounce-in">
                                        <h4 class="timeline-title">Build the production release
                                            <div class="badge badge-danger ml-2">NEW</div>
                                        </h4>
                                    </div>
                                </div>
                            </div>
                            <div class="dot-primary vertical-timeline-element">
                                <div>
                                    <span class="vertical-timeline-element-icon bounce-in"></span>
                                    <div class="vertical-timeline-element-content bounce-in">
                                        <h4 class="timeline-title">
                                            Something not important
                                        </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </perfect-scrollbar>
            </div>
            <div class="d-block text-center card-footer">
                <button class="btn-shadow btn-wide btn-pill btn btn-focus">
                    View All Messages
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-0 col-md-3">
        &nbsp;
        <button class="btn btn-info text-light">
            <a [routerLink]="[ '/patient-vitals', patientId ]" class="text-light">View Vitals History</a>
        </button>
    </div>
</div>