<div class="card m-3">
    <h5 class="card-header">Patient Search</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-xs-12 col-sm-8 mb-2">
                <input type="text" name="regForm" id="regForm" [(ngModel)]="searchInput"
                    placeholder="Enter a search value" class="patient-search-input" />
                &nbsp;
                <button type="button" class="btn" color="primary" (click)="startButton($event)">
                    <i *ngIf="recognizing" class="icon pe-7s-volume1" style="font-size: 18px;"></i>
                    <i *ngIf="!recognizing" class="icon pe-7s-micro" style="font-size: 18px;"></i>
                </button>
            </div>
            <div class="col-xs-12 col-sm-4">
                <button class="btn btn-primary mr-1" (click)="submitSearch()">
                    <i class="icon pe-7s-search" style="font-size: 18px;"></i> &nbsp; Search
                </button>
            </div>
        </div>
    </div>
</div>
<div class="card m-3">
    <div class="table-responsive">
        <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
            <thead>
                <tr>
                    <th class="text-center">Patient ID</th>
                    <th class="text-center">Image</th>
                    <th class="text-center">Name</th>
                    <th class="text-center">Age</th>
                    <th class="text-center">Gender</th>
                    <th class="text-center">Address</th>
                    <th class="text-center">Contact</th>
                    <!-- <th class="text-center">Discharge</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let patient of patientDetails">
                    <td class="text-center text-muted" style="width: 80px;">
                        <a routerLink="{{'/patient/' + patient.patientId}}">#{{patient.patientId}}</a>
                    </td>
                    <td class="text-center" style="width: 80px;">
                        <!-- <img width="40" class="rounded-circle" src="{{patient.avatar}}" alt=""> -->
                        &nbsp;
                    </td>
                    <td class="text-left">{{patient.fullName}}</td>
                    <td class="text-center">{{patient.age}}</td>
                    <td class="text-center">{{patient.sex}}</td>
                    <!-- <td class="text-center">
                        <div class="badge badge-pill badge-danger">{{patient.status}}</div>
                    </td> -->
                    <td class="text-left">
                        <span class="pr-2 opacity-6">
                            <i class="fa fa-business-time"></i>
                        </span>
                        {{patient.address}}
                    </td>
                    <td class="text-left">
                        <span class="pr-2 opacity-6">
                            <i class="fa fa-contact"></i>
                        </span>
                        {{patient.phoneNo}}
                    </td>
                    <!-- <td class="text-center" style="width: 200px;">
                        <div class="widget-content p-0">
                            <div class="widget-content-outer">
                                <div class="widget-content-wrapper">
                                    <div class="widget-content-left pr-2">
                                        <div class="widget-numbers fsize-1 text-danger">{{patient.recovered}}%</div>
                                    </div>
                                    <div class="widget-content-right w-100">
                                        <div class="progress-bar-xs progress">
                                            <div class="progress-bar " [class]="patient.recoveredCode"
                                                role="progressbar" aria-valuenow="71" aria-valuemin="0"
                                                aria-valuemax="100" style="width: {{patient.recovered}}%"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td> -->
                    <!-- <td class="text-center">
              <div role="group" class="btn-group-sm btn-group">
                <button class="btn-shadow btn btn-primary">Yes</button>
                <button class="btn-shadow btn btn-primary">No</button>
              </div>
            </td> -->
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <div class="d-block p-4 text-center card-footer">
      <button class="btn-pill btn-shadow btn-wide fsize-1 btn btn-dark btn-lg">
        <span class="mr-2 opacity-7">
            <i class="fa fa-cog fa-spin"></i>
        </span>
        <span class="mr-1">View Complete Report</span>
      </button>
    </div> -->
</div>