<div [class]="'app-sidebar sidebar-shadow ' + (config$ | async).sidebarTheme" (mouseover)="sidebarHover()"
  (mouseout)="sidebarHover()">
  <div class="app-header__logo">
    <!-- <div class="logo-src"></div> -->
    <!-- <img src="./../../../../assets/images/plus.png" alt="" style="width:40px"> -->
    <img src="assets/images/plus1.png" alt="" style="width:40px">
    <span style="margin-left: 10px; font-size: large;"> CoPIN </span>

    <div class="header__pane ml-auto">
      <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
        [ngClass]="{'is-active' : globals.toggleSidebar}" (click)="toggleSidebar()">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>
  <div class="app-sidebar-content">
    <div class="app-sidebar-scroll">
      <perfect-scrollbar [autoPropagation]="true">
        <div class="v-sidebar-menu vsm-default">
          <div class="vsm-list">
            <div class="vsm-header">Take me to</div>
            <div class="vsm-item">
              <a routerLink="/home" routerLinkActive="active-item" class="vsm-link">
                <i class="vsm-icon pe-7s-global"></i>
                <span class="vsm-title">Home</span>
              </a>
            </div>
            <div *ngIf="userId !== null && userId !== undefined">
              <ng-container *ngIf="isPatient === false; else elseTemplate">
                <div class="vsm-item">
                  <a routerLink="/patient" routerLinkActive="active-item" class="vsm-link">
                    <i class="vsm-icon pe-7s-users"></i>
                    <span class="vsm-title">View Patients</span>
                  </a>
                </div>
                <div class="vsm-item">
                  <a routerLink="/add-user" routerLinkActive="active-item" class="vsm-link">
                    <i class="vsm-icon pe-7s-add-user"></i>
                    <span class="vsm-title">Onboard New Patient</span>
                  </a>
                </div>
              </ng-container>
              <ng-template #elseTemplate>
                <div class="vsm-item">
                  <a routerLink="{{'/patient/' + userId}}" routerLinkActive="active-item" class="vsm-link">
                    <i class="vsm-icon  pe-7s-user"></i>
                    <span class="vsm-title">View Details</span>
                  </a>
                </div>
                <div class="vsm-item">
                  <a routerLink="/chat" routerLinkActive="active-item" class="vsm-link">
                    <i class="vsm-icon  pe-7s-chat"></i>
                    <span class="vsm-title">Virtual Agent Chat</span>
                  </a>
                </div>
              </ng-template>
            </div>

          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
</div>