<!-- <mat-form-field appearance="outline">
    <mat-label>Search for pharma products..</mat-label>
    <input matInput placeholder="Search" type="search" [(ngModel)]="value">
    <mat-icon matSuffix>search</mat-icon>
     <mat-hint>Hint</mat-hint> -->
  <!-- </mat-form-field> -->

<!-- <mat-form-field class="example-form-field" appearance="fill">
    <mat-label>Search for pharma products..</mat-label>
    <input matInput type="search" [(ngModel)]="value">
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
    </button>
</mat-form-field> 
<button mat-raised-button (click)="getData()" style="margin-left: 2%;">Search</button> -->


<div class="card m-3">
    <h5 class="card-header">Search From Store</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-xs-12 col-sm-8 mb-2">
                <input type="text" name="regForm" id="regForm" [(ngModel)]="searchInput"
                    placeholder="Enter a search value" class="patient-search-input" (keyup.enter)="getData()" />
                &nbsp;
                <button type="button" class="btn" color="primary" (click)="startButton($event)">
                    <i *ngIf="recognizing" class="icon pe-7s-volume1" style="font-size: 18px;"></i>
                    <i *ngIf="!recognizing" class="icon pe-7s-micro" style="font-size: 18px;"></i>
                </button>
            </div>
            <div class="col-xs-12 col-sm-4">
                <button class="btn btn-primary mr-1" (click)="getData()">
                    <i class="icon pe-7s-search" style="font-size: 18px;"></i> &nbsp; Search
                </button>
            </div>
        </div>
    </div>
</div>
<div class="card m-3">
    <div class="table-responsive">
        <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
            <thead>
                <tr>
                    <th class="text-left">Product Name</th>
                    <th class="text-left">Product Image</th>
                    <th class="text-left">Product Type</th>
                    <th class="text-center">Mrp</th>
                    <th class="text-left">Packsize</th>
                    <th class="text-left">Composition</th>
                    <th class="text-left">Instock</th>
                    <th class="text-left">Contact</th>
                    <!-- <th class="text-left">Discharge</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let patient of data">
                    <td class="text-left text-muted" style="width: 80px;">
                        {{patient.productName}}
                    </td>

                    <td class="text-center" style="width: 80px;">
                        <img width="40" class="rounded-circle" src="{{patient.imageUrl}}" alt="">
                    </td>
                    <td class="text-left">{{patient.productType}}</td>
                    <td class="text-center">{{patient.mrp}}</td>
                    <td class="text-center">{{patient.packSize}}</td>
                    <td class="text-left">
                        {{patient.compositionName}}
                    </td>
                    <td class="text-left">
                        {{patient.isSellable}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

